.aceEditorWrapper .ace_scrollbar-v {
    display: none !important;
}

.previewPanel {
    height: 100%;
    border: none;
    overflow-y: auto;
}

.divider {
    width: 5px;
    background: #ccc;
    cursor: col-resize;
}
.resize-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    opacity: 0.0;
    width: 100%;
    height: auto;
}