@font-face {
    font-family: "Fira Code";
    src: url("../../assets/fonts/Fira_Code/static/FiraCode-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "JetBrains Mono";
    src: url("../../assets/fonts/JetBrainsMono/fonts/ttf/JetBrainsMono-Regular.ttf") format("truetype");
}

.ͼ15.cm-editor .cm-scroller {
    font-family: "Fira Code", monospace;
    /*font-family: "JetBrains Mono", monospace;*/
}

::-webkit-scrollbar {
    display: none;
}