@font-face {
    font-family: "Fira Code";
    src: url("../../assets/fonts/Fira_Code/static/FiraCode-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "JetBrains Mono";
    src: url("../../assets/fonts/JetBrainsMono/fonts/ttf/JetBrainsMono-Regular.ttf") format("truetype");
}

.ͼ15.cm-editor .cm-scroller {
    font-family: "Fira Code", monospace;
    /*font-family: "JetBrains Mono", monospace;*/
}

::-webkit-scrollbar {
    display: none;
}

.ͼ2 .cm-gutters {
    background-color: #1e1e1e;
    border-right: 1px solid #1e1e1e;
}
.cm-scroller, .cm-line {
    background-color: rgba(31, 31, 31, .5);
}
.code-editor {
    color: whitesmoke;
}
.ͼ2 .cm-activeLine {
    background-color: rgba(60, 60, 60, .5);
}
.ͼ2 .cm-activeLineGutter {
    background-color: rgba(60, 60, 60, .5);
}
.cm-cursor {
    border-left: 1.2px solid whitesmoke !important;  /* change to desired cursor color */
}
.ͼ4 .cm-selectionBackground {
    background-color: rgb(91, 124, 153, .5);

}